<!DOCTYPE html>
<html lang="en">

<head>
        <title>All Channels</title>
</head>

<body>
    <div class="container">
        <% for (let category of categories) { %>
            <h2 class="block-title mt-5">
                <%= category.catname %>
            </h2>
            <div class="main-card">
                <div class="small-cards">
                    <% for (let channel of channels) { %>
                        <% if (channel.category===category.catname) { %>
                            <div class="small-card">
                                <a href="/play/<%= channel.id %>">
                                    <img src="<%= channel.logo %>" alt="<%= channel.name %>">
                                </a>
                            </div>
                            <% } %>
                                <% } %>
                </div>
            </div>
            <% } %>
    </div>

</body>

</html>