<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('head'); -%>
        <title>Dashboard</title>
</head>

<body>
    <%- include('header'); -%>

        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1>Dashboard</h1>
                    <p>Welcome to the dashboard</p>
                </div>

                <section class="suggested pt-0">
                    <div class="container-fluid">
                        <div class="row">
                            <div class="col-lg-12">
                                <h2 class="block-title">Admin Operation For You</h2>
                            </div>
                            <!-- Col End -->
                        </div>
                        <!-- Row End -->
                        <div class="row">
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                                <div class="video-block">
                                    <div class="video-thumb position-relative thumb-overlay">
                                        <a href="#"><img alt="" class="img-fluid" src="/images/channels.jpg"></a>
                                        <div class="box-content">
                                            <ul class="icon">
                                                <li>
                                                    <a href="/dashboard/channels/test"><i class="fas fa-play"></i></a>
                                                </li>
                                                <li>
                                                    <a href="/dashboard/channels/add"><i class="fas fa-plus"></i></a>
                                                </li>
                                                <li>
                                                    <a href="/dashboard/channels"><i class="fa-solid fa-pen-to-square"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- Box Content End -->
                                    </div>
                                    <!-- Video Thumb End -->
                                    <div class="video-content">
                                        <h2 class="video-title"><a href="/dashboard/channels">All Channels</a></h2>
                                    </div>
                                    <!-- video Content End -->
                                </div>
                                <!-- video Block End -->
                            </div>
                            <!-- Col End -->
                            
                            <div class="col-6 col-sm-6 col-md-4 col-lg-4 col-xl-2">
                                <div class="video-block">
                                    <div class="video-thumb position-relative thumb-overlay">
                                        <a href="#"><img alt="" class="img-fluid" src="/images/ott.png"></a>
                                        <div class="box-content">
                                            <ul class="icon">
                                                <li>
                                                    <a href="watch-movie.html"><i class="fas fa-play"></i></a>
                                                </li>
                                                <li>
                                                    <a href="#"><i class="fas fa-plus"></i></a>
                                                </li>
                                                <li>
                                                    <a href="movie-single.html"><i class="fa-solid fa-pen-to-square"></i></a>
                                                </li>
                                            </ul>
                                        </div>
                                        <!-- Box Content End -->
                                    </div>
                                    <!-- Video Thumb End -->
                                    <div class="video-content">
                                        <h2 class="video-title"><a href="movie-single.html">Digital Products</a></h2>
                                    </div>
                                    <!-- video Content End -->
                                </div>
                                <!-- video Block End -->
                            </div>
                            <!-- Col End -->
                            
                        
                            
                            
                            
                        </div>
                        <!-- Row End -->
                    </div>
                    <!-- Container End -->
                </section>
            </div>



            <%- include('footer'); -%>
                <%- include('jsSection'); -%>
</body>

</html>