
<%- include('mobileHeader'); -%>
<!-- Start Header -->
<header class="main-nav clearfix is-sticky mb-3">
    <div class="container-fluid">
        <div class="row justify-content-between">
            <div class="col-lg-9 pl-0">
                <!-- Start Navigation -->
                <nav class="navbar navbar-expand-lg">
                    <a class="navbar-brand" href="/"><img alt="" class="img-fluid" src="/images/logo.png"></a>
                    <!-- Logo End -->
                    <div class="site-nav-inner float-left">
                        <button aria-controls="navbarSupportedContent" aria-expanded="true" aria-label="Toggle navigation" class="navbar-toggler" data-target="#navbarSupportedContent" data-toggle="collapse" type="button"><span class="fa fa-bars"></span></button> <!-- Navbar Toggler End -->
                        <div class="navbar-collapse navbar-responsive-collapse collapse" id="navbarSupportedContent">
                            <ul class="nav navbar-nav">
                                <li class="nav-item">
                                    <a class="nav-link active" href="/">Home</a>
                                </li>
                                <!-- Nav Item 1 End -->
                                <li class="nav-item">
                                    <a class="nav-link" href="https://t.me/bdixiptvhub">Join Telegram</a>
                                </li>
                                <!-- Nav Item 2 End -->
                                <li class="nav-item dropdown">
                                    <a class="nav-link menu-dropdown" data-toggle="dropdown" href="#">Pages <i class="fa fa-angle-down"></i></a>
                                    <ul class="dropdown-menu fade-up" role="menu">
                                        <li>
                                            <a class="dropdown-item" href="/about">About Us</a>
                                        </li>
                                        <!-- Sub Nav Item 1 End -->
                                        <li>
                                            <a class="dropdown-item" href="/contact">Contact Us</a>
                                        </li>
                                        <!-- Sub Nav Item 2 End -->
                                    </ul>
                                    <!-- Dropdown End -->
                                </li>
                                <!-- Nav Item 4 End -->
                            </ul>
                            <!-- Nav UL End -->
                        </div>
                        <!-- Navbar Collapse End -->
                    </div>
                    <!-- Site Nav Inner End -->
                </nav>
                <!-- Navigation End -->
            </div>
            <!-- Col End -->
            <div class="col-lg-3 text-right right-menu-wrap">
                <ul class="nav d-flex align-items-center list-inline m-0 float-right">
                    
                    
                    <li class="nav-item">
                        <div class="nav-search">
                            <a class="nav-link modal-popup" href=""><i class="fa-brands fa-telegram fa-2xl"></i></a>
                        </div>
                        <!-- Search Icon End -->
                    </li>
                    
                    <li class="nav-item">
                        <div class="nav-account ml-2">
                            <div class="dropdown">
                                <div aria-expanded="false" aria-haspopup="true" data-toggle="dropdown" id="dropdown-account" role="button"><img alt="" class="img-fluid user-icon rounded-circle" src="/images/avatar/user.jpg"></div>
                                <ul class="dropdown-menu dropdown-menu-right fade-up">
                                    <li>
                                        <a class="dropdown-item" href="/dashboard">Admin Panel</a>
                                    </li>
                                    <!-- Li 1 end -->
                                    <li>
                                        <a class="dropdown-item" href="/login">Login</a>
                                    </li>
                                    <!-- Li 2 end -->
                                    
                                </ul>
                                <!-- Account List End -->
                            </div>
                            <!-- Account Drop Down End -->
                        </div>
                        <!-- Account Menu End -->
                    </li>
                    <!-- Nav Item 3 End -->
                </ul>
                <!-- Nav UL End -->
            </div>
            <!-- Col End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</header>
<!-- Header End -->