<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <title>Login</title>
</head>
<body>
    <%- include('header') %>
    <div class="container">
          <div class="d-block">
           <div class="d-flex justify-content-center">
            <h2 class="block-title">Admin login</h2>
           </div>
            <form action="/login" method="post">
                <label class="" for="username">Username:</label>
                <input class="form-control" type="text" id="username" name="username" placeholder="example: Rahim" required>
                <br>
                <label for="password">Password:</label>
                <input class="form-control" type="password" id="password" name="password" placeholder="example: 12345678" required>
                <br>
                <button type="submit">Login</button>
              </form>
          </div>
    </div>
    <%- include('footer') %>
          <%- include('jsSection') %>
</body>
</html>