 <!-- Start Mobile Header -->
 <header class="mobile-header">
    <div class="mobile-header-content">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <div class="mobile-logo text-center">
                        <a href="/"><img alt="" class="img-fluid" src="/images/logo.png"></a>
                    </div>
                </div>
                <!-- Logo Col End -->
            </div>
            <!-- Row End -->
        </div>
        <!-- Container End -->
    </div>
    <!-- Header Content End -->
</header>
<!-- Mobile Header End -->