<!-- Start Office Box Section -->
<section class="office-box">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <h2 class="block-title">TOP 10 BOX OFFICE</h2>
            </div>
            <!-- Col End -->
        </div>
        <!-- Row End -->
        <div class="row">
            <div class="col-lg-12">
                <!-- Start Swiper Slider -->
                <div class="swiper-container loading pt-0">
                    <div class="swiper-wrapper">
                        <div class="swiper-slide swiper-bg" style="background-image:url(images/movies/01.jpg)">
                            <img alt="" class="entity-img" src="images/movies/01.jpg">
                            <div class="top-badge">
                                <div class="video-badge"><img alt="" class="img-fluid" src="images/top-movies.png"></div>
                            </div>
                            <div class="content">
                                <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Romantic world</p><span class="caption mb-4" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                                <div class="slider-buttons d-flex align-items-center" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">
                                    <a class="btn hvr-sweep-to-right" href="watch-movie.html" tabindex="0"><i aria-hidden="true" class="fa fa-play mr-2"></i>Play Now</a> <a class="btn hvr-sweep-to-right ml-3" href="#" tabindex="0"><i class="fas fa-plus mr-2"></i>My List</a>
                                </div>
                            </div>
                        </div>
                        <!-- Slide 1 End -->
                        <div class="swiper-slide swiper-bg" style="background-image:url(images/movies/02.jpg)">
                            <img alt="" class="entity-img" src="images/movies/02.jpg">
                            <div class="top-badge">
                                <div class="video-badge"><img alt="" class="img-fluid" src="images/top-movies.png"></div>
                            </div>
                            <div class="content">
                                <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Incantation</p><span class="caption mb-4" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                                <div class="slider-buttons d-flex align-items-center" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">
                                    <a class="btn hvr-sweep-to-right" href="watch-movie.html" tabindex="0"><i aria-hidden="true" class="fa fa-play mr-2"></i>Play Now</a> <a class="btn hvr-sweep-to-right ml-3" href="#" tabindex="0"><i class="fas fa-plus mr-2"></i>My List</a>
                                </div>
                            </div>
                        </div>
                        <!-- Slide 2 End -->
                        <div class="swiper-slide swiper-bg" style="background-image:url(images/movies/03.jpg)">
                            <img alt="" class="entity-img" src="images/movies/03.jpg">
                            <div class="top-badge">
                                <div class="video-badge"><img alt="" class="img-fluid" src="images/top-movies.png"></div>
                            </div>
                            <div class="content">
                                <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">the years</p><span class="caption mb-4" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                                <div class="slider-buttons d-flex align-items-center" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">
                                    <a class="btn hvr-sweep-to-right" href="watch-movie.html" tabindex="0"><i aria-hidden="true" class="fa fa-play mr-2"></i>Play Now</a> <a class="btn hvr-sweep-to-right ml-3" href="#" tabindex="0"><i class="fas fa-plus mr-2"></i>My List</a>
                                </div>
                            </div>
                        </div>
                        <!-- Slide 3 End -->
                        <div class="swiper-slide swiper-bg" style="background-image:url(images/movies/04.jpg)">
                            <img alt="" class="entity-img" src="images/movies/04.jpg">
                            <div class="top-badge">
                                <div class="video-badge"><img alt="" class="img-fluid" src="images/top-movies.png"></div>
                            </div>
                            <div class="content">
                                <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">The house</p><span class="caption mb-4" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                                <div class="slider-buttons d-flex align-items-center" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">
                                    <a class="btn hvr-sweep-to-right" href="watch-movie.html" tabindex="0"><i aria-hidden="true" class="fa fa-play mr-2"></i>Play Now</a> <a class="btn hvr-sweep-to-right ml-3" href="#" tabindex="0"><i class="fas fa-plus mr-2"></i>My List</a>
                                </div>
                            </div>
                        </div>
                        <!-- Slide 4 End -->
                        <div class="swiper-slide swiper-bg" style="background-image:url(images/movies/05.jpg)">
                            <img alt="" class="entity-img" src="images/movies/05.jpg">
                            <div class="top-badge">
                                <div class="video-badge"><img alt="" class="img-fluid" src="images/top-movies.png"></div>
                            </div>
                            <div class="content">
                                <p class="title" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">Treason</p><span class="caption mb-4" data-swiper-parallax="-20%">Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</span>
                                <div class="slider-buttons d-flex align-items-center" data-swiper-parallax="-30%" data-swiper-parallax-scale=".7">
                                    <a class="btn hvr-sweep-to-right" href="watch-movie.html" tabindex="0"><i aria-hidden="true" class="fa fa-play mr-2"></i>Play Now</a> <a class="btn hvr-sweep-to-right ml-3" href="#" tabindex="0"><i class="fas fa-plus mr-2"></i>My List</a>
                                </div>
                            </div>
                        </div>
                        <!-- Slide 5 End -->
                    </div>
                    <!-- Swiper Wrapper End -->
                    <div class="swiper-button-prev swiper-button-white"></div>
                    <div class="swiper-button-next swiper-button-white"></div>
                    <!-- Navigation Buttons End -->
                </div>
                <!-- End Swiper Slider -->
            </div>
            <!-- Col End -->
        </div>
        <!-- Row End -->
    </div>
    <!-- Container End -->
</section>
<!-- Office Box Section End -->