<!DOCTYPE html>
<html lang="en">
<head>
    <%- include('head') %>
    <title>Login</title>
</head>
<body>
    <%- include('header') %>
    <div class="container">
          <div class="d-block">
           <div class="d-flex justify-content-center">
            <h2 class="block-title">Admin Account Creator</h2>
           </div>
           <form action="/signup" method="post">
            <label for="username">Username:</label>
            <input class="form-control" type="text" id="username" name="username" placeholder="example: Rahom" required>
            <br>
            <label for="password">Password:</label>
            <input class="form-control" type="password" id="password" name="password" placeholder="example: 12345678" required>
            <br>
            <label for="full_name">Full Name:</label>
            <input class="form-control" type="text" id="full_name" name="full_name" placeholder="example: Md Abu Bokor">
            <br>
            <label for="avatar">Avatar URL:</label>
            <input class="form-control" type="text" id="avatar" name="avatar" placeholder="example: www.imgbb.co/profile.png">
            <br>
            <button type="submit">Signup</button>
        </form>
          </div>
    </div>
    <%- include('footer') %>
          <%- include('jsSection') %>
</body>
</html>